@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
}


<!-- Start About area -->
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>About Cargo Europe</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="~/Content/eBusiness/img/about/1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">Freight Exchange</h4>
                        </a>
                        <p>
                            A reliable , easy and fast solutions for all kind of logistic and tranport companies.
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-check"></i> Team Management
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Freights and Loads Management
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Internal Communication System
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Easy & Fast Vehicle and Freight Management
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Group Chats
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>
<!-- End About area -->
@*<div class="title text-center" style="margin-top:30px"><h3>@ViewBag.Title</h3></div>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@
