@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
}
<div class="title text-center" style="margin-top:30px"><h3>@ViewBag.Title</h3></div>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
