@using CUFE.Extensions
@{

    IEnumerable<CUFE.Models.Country> countries = CUFE.Helpers.FastController.AllCountries();
    CUFE.Controllers.GeoCoordinatesController geoCoordinatesController = new CUFE.Controllers.GeoCoordinatesController();
    List<CUFE.Models.GeoCoordinate> geoCoordinates = geoCoordinatesController.AllCoordinates();
    int companyID = int.Parse(User.Identity.GetCompanyId());
    List<CUFE.Models.Truck> Trucks = CUFE.Helpers.FastController.GetTrucksByCompanyId(companyID);
}
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridView";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.CallbackRouteValues = new { Controller = "Freights", Action = "MyGridViewPartial" };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Freights", Action = "GridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Freights", Action = "GridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Freights", Action = "GridViewPartialDelete" };
//settings.CallbackRouteValues = new { Controller = "Freights", Action = "Content" };

settings.EnablePagingGestures = AutoBoolean.False;

        settings.ControlStyle.CssClass = "grid-view";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
//settings.SettingsPopup.CustomizationWindow.HorizontalAlign = PopupHorizontalAlign.Center;
//settings.SettingsPopup.CustomizationWindow.VerticalAlign = PopupVerticalAlign.WindowCenter;
//settings.SettingsPopup.CustomizationWindow.Width = 220;
//settings.SettingsPopup.CustomizationWindow.Height = 300;
settings.SettingsBehavior.ConfirmDelete = true;

        settings.Styles.Cell.Wrap = DefaultBoolean.False;
        settings.Styles.PagerBottomPanel.CssClass = "pager";
        settings.Styles.FocusedRow.CssClass = "focused";

        settings.SettingsBehavior.AllowFocusedRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.AllowEllipsisInText = true;
        settings.SettingsBehavior.AllowDragDrop = false;

        settings.SettingsSearchPanel.CustomEditorName = "tbSearch";
        settings.Settings.ShowTitlePanel = true;
        settings.SetTitlePanelTemplateContent(content =>
        {
            Html.DevExpress().Label(label =>
            {

                label.Text = "Freights Management";
                label.Style["font-weight"] = "bold";

            }).Render();

        });

        if (User.IsInRole("Admin"))
        {
            settings.CommandColumn.Visible = true;
            settings.CommandColumn.ShowDeleteButton = true;
            settings.CommandColumn.ShowEditButton = true;
            settings.CommandColumn.ShowNewButtonInHeader = true;
        }

        settings.KeyFieldName = "Oid";

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

//settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.None;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = true;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;
        settings.Columns.Add(c =>
        {
            c.FieldName = "TruckId";
    //c.PropertiesEdit.DisplayFormatString = "{0:C}";
    c.EditFormSettings.VisibleIndex = 0;
            c.SetEditItemTemplateContent(i =>
            {
                var extension = Html.DevExpress().ComboBox(comboBoxSettings =>
                {
                    comboBoxSettings.Name = "TruckId";
                    ComboBoxProperties comboBoxProperties = comboBoxSettings.Properties;
                    comboBoxProperties.TextField = "RegNo";
                    comboBoxProperties.ValueField = "Oid";
                    comboBoxProperties.ValueType = typeof(int);
                    comboBoxProperties.DropDownStyle = DropDownStyle.DropDown;
            //comboBoxProperties.ClientSideEvents.SelectedIndexChanged = "setStartCountryName";
        }
                    ).BindList(Trucks).Bind(i.DataItem, "TruckId");
                extension.Render();

            });

        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "StartDate";
            c.ColumnType = MVCxGridViewColumnType.DateEdit;
            c.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
            c.Width = System.Web.UI.WebControls.Unit.Pixel(150);
            c.VisibleIndex = 1;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "StartLocationCountry";
    //c.PropertiesEdit.DisplayFormatString = "{0:C}";
    c.EditFormSettings.VisibleIndex = 2;
            c.SetEditItemTemplateContent(i =>
            {
                var extension = Html.DevExpress().ComboBox(comboBoxSettings =>
                {
                    comboBoxSettings.Name = "StartLocationCountry";
                    ComboBoxProperties comboBoxProperties = comboBoxSettings.Properties;
                    comboBoxProperties.TextField = "CountryName";
                    comboBoxProperties.ValueField = "CountryName";
                    comboBoxProperties.ValueType = typeof(string);
                    comboBoxProperties.DropDownStyle = DropDownStyle.DropDown;
                    comboBoxProperties.ClientSideEvents.SelectedIndexChanged = "setStartCountryName";
                }
                    ).BindList(countries).Bind(i.DataItem, "StartLocationCountry");
                extension.Render();

            });

        });


        settings.Columns.Add(c =>
        {
            c.FieldName = "StartLocationZip";
            c.Caption = "Origin Zip";
            c.VisibleIndex = 3;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "StartLocationName";
            c.Caption = "Origin Address";
            c.VisibleIndex = 4;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "EndCity";
            c.Caption = "Destination City";
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "EndLocationName";
            c.Caption = "Destination Address";
        });

        settings.Columns.Add(C =>
        {
            C.FieldName = "EndDate";
            C.ColumnType = MVCxGridViewColumnType.DateEdit;
            C.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
            C.Width = System.Web.UI.WebControls.Unit.Pixel(150);
            C.VisibleIndex = 5;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "EndLocationCountry";
    //c.PropertiesEdit.DisplayFormatString = "{0:C}";
    c.EditFormSettings.VisibleIndex = 6;
            c.SetEditItemTemplateContent(i =>
            {
                var extension = Html.DevExpress().ComboBox(comboBoxSettings =>
                {
                    comboBoxSettings.Name = "EndLocationCountry";
                    ComboBoxProperties comboBoxProperties = comboBoxSettings.Properties;
                    comboBoxProperties.TextField = "CountryName";
                    comboBoxProperties.ValueField = "CountryName";
                    comboBoxProperties.ValueType = typeof(string);
                    comboBoxProperties.DropDownStyle = DropDownStyle.DropDown;
                    comboBoxProperties.ClientSideEvents.SelectedIndexChanged = "setEndCountryName";
                }
                    ).BindList(countries).Bind(i.DataItem, "EndLocationCountry");
                extension.Render();

            });

        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "EndLocationZip";
            c.Caption = "Destination Zip";
            c.VisibleIndex = 7;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "OfferredPrice";
            c.PropertiesEdit.DisplayFormatString = "{0:C}";
            c.VisibleIndex = 11;

        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "ConactPersonName";
            c.EditFormSettings.Visible = DefaultBoolean.True;
            c.Visible = false;
            c.VisibleIndex = 12;

        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "ContactPersonPhone";
            c.EditFormSettings.Visible = DefaultBoolean.True;
            c.Visible = false;
            c.VisibleIndex = 13;

        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "ContactPersonEmail";
            c.EditFormSettings.Visible = DefaultBoolean.True;
            c.Visible = false;
            c.VisibleIndex = 14;

        });

        settings.Columns.Add(c =>
        {
            c.FieldName = "Notes";
            c.EditFormSettings.Visible = DefaultBoolean.True;
            c.Visible = false;
            c.VisibleIndex = 15;

        });

        settings.Columns.Add(c =>
        {
            c.FieldName = "StartLat";
            c.EditFormSettings.Visible = DefaultBoolean.True;
            c.Visible = false;
            c.EditFormSettings.VisibleIndex = 20;

        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "StartLon";
            c.EditFormSettings.Visible = DefaultBoolean.True;
            c.Visible = false;
            c.EditFormSettings.VisibleIndex = 21;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "EndLat";
            c.EditFormSettings.Visible = DefaultBoolean.True;
            c.Visible = false;
            c.EditFormSettings.VisibleIndex = 22;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "EndLon";
            c.EditFormSettings.Visible = DefaultBoolean.True;
            c.Visible = false;
            c.EditFormSettings.VisibleIndex = 23;
        });
        settings.Columns.Add(c =>
        {
            c.UnboundType = DevExpress.Data.UnboundColumnType.String;
            c.Visible = true;
            c.EditFormSettings.Visible = DefaultBoolean.False;
            c.SetDataItemTemplateContent(x =>
            {
                ViewContext.Writer.Write(string.Format("<a href=\"/Client/Freight/{0}\" class=\"button\" data-id='{0}' onclick=\"\">View</a>", x.KeyValue));
            });
        });
        settings.Settings.ShowHeaderFilterButton = true;

        settings.ClientSideEvents.SelectionChanged = "OnListBoxIndexChanged";

        settings.CellEditorInitialize += (s, e) =>
        {
            if (e.Column.FieldName == "StartLocationZip")
            {
                var tb = e.Editor as ASPxTextBox;
                tb.ClientSideEvents.ValueChanged = "getStartCoordinates";
            }
            if (e.Column.FieldName == "EndLocationZip")
            {
                var tb = e.Editor as ASPxTextBox;
                tb.ClientSideEvents.ValueChanged = "getEndCoordinates";
            }
        };

    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()

