
@{
    ViewBag.Title = "Group Chat";
    Layout = "~/Views/Shared/_LayoutChatPage.cshtml";
    IEnumerable<CUFE.Models.XpoApplicationUser> listUsers = ViewBag.AllUsers;
    IEnumerable<CUFE.Models.ChatModels.GroupChat> groupList = ViewBag.MyGroups;

}



@section head{
    <link rel="stylesheet" href="~/Content/admintemplate/assets/css/chatapp.css">


}


<div id="idNotifications"></div>



@Html.DropDownList("userList", new SelectList(listUsers, "UserName", "FirstName"), "Select users", new { @id = "userId" })
@Html.DropDownList("groupList", new SelectList(groupList, "RoomName", "RoomName"), "Select Group", new { @id = "groupId" })

<button id="btnAddUserToGroupId">Add User to Group</button>
<br />
<input type="text" id="groupNameId" placeholder="Enter New Group Name" />
<button id="createGroupBtnId">Create Group</button>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="chat-app" id="tabs">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="hidden-xs">
                        <div id="plist" class="people-list">
                            <div class="input-group p-3 bg-white border-bottom">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                            <ul class="list-unstyled chat-list mt-2 mb-0" id="connections">

                                <li class="clearfix clickable" id="#T_123">
                                    <div class="float-left list-left">
                                        <div class="img-preview">
                                            <img src="~/Content/images/user-male-icon.png" alt="avatar" />
                                            <div class="status"><i class="fa fa-circle online"></i></div>
                                        </div>
                                        <div class="about">
                                            <div class="name">Imran Bajwa</div>
                                            <div class="msg"> @*Ok Good*@ </div>
                                        </div>
                                    </div>
                                    <div class="float-right">
                                        <div class="time">@*23 July*@</div>
                                        <div class="badge badge-danger bg-danger text-white">@*2*@</div>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8" id="relatedDivs">

                    <div id="T_123" class="chat bg-white alert alert-dismissible chatmessagebox" style="display:none">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img src="~/Content/images/user-male-icon.png" alt="avatar" />
                                    </a>
                                    <div class="chat-about">
                                        <h6 class="m-b-0">Imran Bajwa</h6>
                                        <small>Online</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 hidden-sm text-right">
                                    @*<a href="javascript:void(0);" onclick="return false;" class="btn btnclose"><i class="icon-close"></i></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul class="m-b-0" id="discussion_123" style="overflow:auto; height:70vh;">
                                <li class="clearfix">
                                    <div class="detail-right">
                                        <div class="message my-message">
                                            <span class="message-data-time d-block mt-1">  today  </span><p>  message </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="detail-right">
                                        <div class="message other-message float-right">
                                            <span class="message-data-time d-block mt-1"> today </span><p> message sent </p>
                                        </div>
                                    </div>
                                </li>

                                <li><sub>Current Messages below</sub></li>
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <form id="form_">
                                <div class="input-group mb-0">
                                    <input type="hidden" name="user" value="" />
                                    @*@Html.DropDownList("user", new SelectList(ViewBag.Allusers, "Id", "FirstName"), new { @id = "idUsername" })*@
                                    <input type="text" class="form-control" name="chat_msg" placeholder="Enter text here..." id="idMessage_">
                                    <div class="input-group-append">
                                        @*<button id="idMessageSendButton">Send</button>*@
                                        <button class="btnSend" id="" onclick="return false;">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- end of relted div -->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var groupChat = $.connection.groupChatHub;
            groupChat.client.notifications = function (message) {
                $("#idNotifications").text(message);
            }

            $.connection.hub.start().done(function () {
                $("#createGroupBtnId").click(function () {
                    var groupName = $("#groupNameId").val();
                    groupChat.server.addToRoom(groupName);
                    console.log(groupName);
                });

                $("#btnAddUserToGroupId").click(function () {
                    var userId = $("#userId").val();
                    var groupId = $("#groupId").val();
                    groupChat.server.addUserToRoom(groupId, userId);
                });
            }
            );
        });
    </script>
    <script>
        //activate the user on click
        $(function () {                       //run when the DOM is ready

            $("#connections").on("click", ".clickable", function () {  //use a class, since your ID gets mangled
                var target = this.id;
                var targetId = target.substring(1, target.length);
                $(".clickable").not(this).removeClass('active');
                $(this).toggleClass('active');
                $(target).show();
                $(".chatmessagebox").each(function () {
                    var currentDiv = this.id;
                    if (currentDiv != targetId) {
                        $("#" + currentDiv).hide();
                    }
                }
                );

                $(".chatmessagebox").each(function () {
                    var currentDiv = this.id;
                    if (currentDiv != targetId) {
                        $("#" + currentDiv).hide();
                    }
                }
                );
            });
        });
    </script>

}

