@using CUFE.Helpers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutChatPage.cshtml";

    List<CUFE.Models.ChatModels.SentMessage> sentMessageList = FastController.GetAllSentMessagesByUserId(User.Identity.GetUserId());
    List<CUFE.Models.ChatModels.SentMessage> receivedMessageList = FastController.GetAllReceivedMessagesByUserId(User.Identity.GetUserId());
    var usr = User.Identity.GetUserId();
}

@section head{
    <link rel="stylesheet" href="~/Content/admintemplate/assets/css/chatapp.css">
    <script>
        function chatMessageSend(s, e) {
            console.log();

        }
    </script>


}
<div id="idNotifications">

</div>
<input type="text" id="messageBox" />
<button class="btnSend">Send Message</button>

<hr />


<input type="text" id="groupName" placeholder="Enter Group Name" />
<input type="text" id="groupMessageBox" placeholder="Type here Group Messages"/>
<button class="btnSendGroupMessage">Send Message</button>

<hr />


<input type="text" id="groupNameBox" placeholder="Enter Group Name" />
<button class="btnCreateGroup">Add New group</button>

<input type="hidden" id="hiddenUserId" value="@usr" />
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        $(function () {
            var chat = $.connection.groupChatHub;



            //broadcast messages
            chat.client.showBroadcastMessage = function (message) {
                console.log(message);
                $("#idNotifications").append('<div class="alert alert-info alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">x</span></button>' + htmlEncode(message) + '</div>');
            };


            $.connection.hub.start().done(function () {
                $(".btnSend").click(function () {
                    var msg = $("#messageBox").val();
                    chat.server.sendMessge(msg);
                });

                $(".btnCreateGroup").click(function () {
                    var msg = $("#groupNameBox").val();
                    chat.server.joinRoom(msg);
                });

                $(".btnSendGroupMessage").click(function () {
                    var msg = $("#groupMessageBox").val();
                    var name = $("#groupName").val();
                    chat.server.groupMessage(name, msg);
                });

            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }



    </script>
}



